# Base de données PostgreSQL (Docker)
POSTGRES_DB=pvf_db
POSTGRES_USER=pvf_admin
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
DATABASE_URL=postgresql://pvf_admin:VOTRE_MOT_DE_PASSE@localhost:5433/pvf_db

# Clé API LLM 
LLM_API_KEY=      # Gemini: https://aistudio.google.com/apikey
                  # OU Groq: https://console.groq.com
