# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Data
data/raw/*
data/processed/*

# Exceptions
!data/raw/.gitkeep
!data/processed/.gitkeep

# Exports temporaires
export_*.sql
export_*.csv

# Logs
logs/
*.log
