requests==2.31.0
beautifulsoup4==4.12.2
pdfplumber==0.10.3
pandas==2.1.0

sqlalchemy==2.0.23
psycopg2-binary==2.9.9

streamlit==1.32.0
plotly==5.20.0

python-dotenv==1.0.0
langdetect==1.0.9

google-generativeai

anthropic==0.25.0
lxml==5.2.2